/* Adicionar CSS depois */
* {
  background-image: url('https://wallpapercave.com/wp/gfwPusm.jpg');
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-top: 15px;
}

h1 {
  color: rgb(163, 133, 11);
  font-size: 35px;
}
