.bar-container {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 8px;
  width: 100%;
}

.container-filters-selected {
  background-color: cadetblue;
  border: 1px solid black;
  display: flex;
  width: fit-content;
}

.filtered-item {
  display: flex;
  padding-right: 15px;
}
.field-search {
  width: 80px;
}
.search-input {
  display: flex;
  align-items: center;
  height: 35px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  width: 650px;
}

.input-label {
  align-self: center;
}