.bar-container {
  background-color: white;
  padding: 8px;
  width: 100%;
}

.container-filters-selected {
  background-color: cadetblue;
  border: 1px solid black;
  display: flex;
  width: fit-content;
}

.filtered-item {
  display: flex;
  padding-right: 15px;
}
.field-search {
  align-self: center;
  width: 80px;
}
.search-input {
  align-self: center;
}
