table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 5px;
  text-align: left;
}

#t01 tr:nth-child( even ) {
  background-color: white;
}

#t01 tr:nth-child( odd ) {
  background-color: white;
}

#t01 th {
  background-color: black;
  color: white;
}

.table-style {
  width: 80%;
}
