.filters-selected-container {
  align-items: center;
  background-color: rgb(255, 169, 9);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.filters-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.filter-selected {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.filter-selected p {
  padding-top: 15px;
}

.filter-selected button {
  align-items: center;
  border-radius: 100%;
  display: flex;
  height: 20px;
  justify-content: center;
  margin-right: 5px;
  width: 20px;
}
