#table {
  display: flex;
  flex-direction: column;
}

#head {
  display: flex;
  flex-direction:row;
}

#body {
  display: flex;
  flex-direction:column;
}

#block {
  border-top: 3px solid grey;
  display: flex;
  flex-direction: row;
}

#list {
  display: flex;
  flex-direction:column;
  border: 2px solid blue;
  font-size: 10px;
}