th, tr, td {
  background-clip: padding-box;
  border: 20px solid transparent;
  text-align: center;
}

table {
  background-color: rgb(55, 53, 53);
  border-style: solid;
  color: white;
  margin: auto;
}
