.hello {
  background-color: darkgrey;
  color: white;
  padding: 10px;
  text-align: center;
}

.table-planets {
  border-collapse: collapse;
  font-family: monospace;
  font-size: smaller;
  width: 100%;
}

.table-planets td, .table-planets th {
  border: 2px solid gray;
  padding: 5px;
}

.table-planets th {
  background-color: cornflowerblue;
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: center;
}
