table {
  border-collapse: collapse;
  font-family: arial , sans-serif;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child( even ) {
  background-color: #ddd;
}
