:root {
  --primary-bg-color: #0B090A;
  --secondary-bg-color: #161A1D;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #D3D3D3;
  --primary-color: #660708;
  --secondary-color: #A4161A;
  --tertiary-color: #BA181B;
  --quaternary-color: #E5383B;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black url('./img/star-sky.jpg') no-repeat center center fixed;
  color: var(--primary-color);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
