body {
  display: flex;
  font-weight: 900;
  justify-content: center;
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Backgorund.gif");
  background-size: 250%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  text-align: center;
}

.select-column {
  width: 110px;
}